<h1>Listing games</h1>

<table>
  <tr>
    <th>Uuid</th>
    <th>Owner uuid</th>
    <th>Player uuid</th>
    <th>Turn expiration</th>
    <th>Turn speed</th>
    <th>Map uuid</th>
    <th>Current map</th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%=h game.uuid %></td>
    <td><%=h game.owner_uuid %></td>
    <td><%=h game.player_uuid %></td>
    <td><%=h game.turn_expiration %></td>
    <td><%=h game.turn_speed %></td>
    <td><%=h game.map_uuid %></td>
    <td><%=h game.current_map %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New game', new_game_path %>