<h1>New game</h1>

<% form_for(@game) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :owner_uuid %><br />
    <%= f.text_field :owner_uuid %>
  </p>
  <p>
    <%= f.label :player_uuid %><br />
    <%= f.text_field :player_uuid %>
  </p>
  <p>
    <%= f.label :turn_expiration %><br />
    <%= f.datetime_select :turn_expiration %>
  </p>
  <p>
    <%= f.label :turn_speed %><br />
    <%= f.datetime_select :turn_speed %>
  </p>
  <p>
    <%= f.label :map_uuid %><br />
    <%= f.text_field :map_uuid %>
  </p>
  <p>
    <%= f.label :current_map %><br />
    <%= f.text_field :current_map %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', games_path %>