<p>
  <b>Uuid:</b>
  <%=h @game.uuid %>
</p>

<p>
  <b>Name:</b>
  <%=h @game.name %>
</p>

<p>
  <b>Owner uuid:</b>
  <%=h @game.owner_uuid %>
</p>

<p>
  <b>Player uuid:</b>
  <%=h @game.player_uuid %>
</p>

<p>
  <b>Turn expiration:</b>
  <%=h @game.turn_expiration %>
</p>

<p>
  <b>Turn speed:</b>
  <%=h @game.turn_speed_minutes %>
</p>

<p>
  <b>Map uuid:</b>
  <%=h @game.map_uuid %>
</p>

<p>
  <b>Unit data:</b>
  <%=h @game.unit_data %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>